<div class="container-fluid">
<div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-light">
                <h1 class="display-3">Seja bem vindo(a)</h1>
                <h5>Expresse aqui os seus pensamentos e opiniões!</h5>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-5 mt-3">
            <div class="col-md-6">
                <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
       <img src="../../assets/img/Feed-amico (1).png" width="500px" height="500px" alt="">
    </div>
</div>

</div>
<div class="container mt-5 mb-5" id="postagens">
    <nav>
        <div class="nav nav-tabs justify-content-center d-flex" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todas-tab" data-toggle="tab" href="#nav-todas" role="tab" aria-controls="nav-todas" aria-selected="true">Todas as Postagens</a>
          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhas-tab" data-toggle="tab" href="#nav-minhas" role="tab" aria-controls="nav-minhas" aria-selected="false">Minhas Postagens</a>
          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-porTema-tab" data-toggle="tab" href="#nav-porTema" role="tab" aria-controls="nav-porTema" aria-selected="false">Postagens por Tema</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-todas" role="tabpanel" aria-labelledby="nav-todas-tab">Todas</div>
        <div class="tab-pane fade" id="nav-minhas" role="tabpanel" aria-labelledby="nav-minhas-tab">Minhas</div>
        <div class="tab-pane fade" id="nav-porTema" role="tabpanel" aria-labelledby="nav-porTema-tab">Por Tema</div>
      </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Título da postagem">
          </div>
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea name="texto" class="form-control" id="texto"  rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="texto">Escolha um tema ou <a href="">cadastre um novo</a></label>
            <select class="form-control" name="tema" id="tema">
              <option value="">Temas</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>